{% extends 'base.html' %}

{% load static %}

{% block content %}
<main class="container mt-5">
		<h2>About Us</h2>
		<p>Coldplay is a British band formed in London in 1996, consisting of lead vocalist and pianist Chris Martin, lead guitarist Jonny Buckland, bassist Guy Berryman, and drummer Will Champion. Known for their anthemic and emotionally charged rock/pop songs, Coldplay has released numerous hit albums and singles, including "Yellow," "Viva La Vida," and "Fix You." They have won numerous awards and accolades for their music and have become one of the most successful bands in the world.</p>
		
		<h3>Meet the Band</h3>
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-12 mb-4">
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/Chris_Martin_2017_in_Hamburg.jpg/220px-Chris_Martin_2017_in_Hamburg.jpg" alt="Crhis Martin PIC" class="img-fluid rounded-circle">
				<h4>Chris Martin</h4>
				<p>Chris Martin is a British singer, songwriter, and musician, best known as the lead vocalist and pianist of the band Coldplay. Born in 1977 in Devon, England, Martin formed Coldplay while attending University College London in 1996. He has written and co-written many of the band's most popular songs, including "Yellow," "Clocks," and "Viva La Vida." Martin is known for his distinctive singing style and emotive stage presence, and he has collaborated with numerous other artists over the course of his career. In addition to his musical work, Martin is also involved in various philanthropic and social causes.</p>
				<p class="mb-3">Plays: lead Vocalist & Pianist</p>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 mb-4">
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/ColdplayBBC0712212553_%28cropped%29.jpg/270px-ColdplayBBC0712212553_%28cropped%29.jpg" alt="Jonny Buckland PIC" class="img-fluid rounded-circle">
				<h4>Johnny Buckland</h4>
				<p>Jonny Buckland is a British musician and the lead guitarist for the band Coldplay. Born in 1977 in London, Buckland met the other members of Coldplay while studying at University College London. He has played guitar for the band since its inception in 1996 and has contributed to many of their most successful albums and singles, including "Yellow," "Fix You," and "Viva La Vida." Buckland is known for his atmospheric and inventive guitar playing and has been recognized as one of the most influential guitarists of his generation. In addition to his work with Coldplay, Buckland has collaborated with other artists and has been involved in various charitable initiatives.</p>
				<p class="mb-3">Plays: Lead Guitarist</p>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 mb-4">
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Coldplay_-_Global-Citizen-Festival_Hamburg_17.jpg/270px-Coldplay_-_Global-Citizen-Festival_Hamburg_17.jpg" alt="Guy Berryman PIC" class="img-fluid rounded-circle">
				<h4>Guy Berryman</h4>
				<p>Guy Berryman is a Scottish musician and the bassist for the British band Coldplay. Born in 1978 in Kirkcaldy, Scotland, Berryman met the other members of Coldplay while studying engineering at University College London. He has played bass for the band since its inception in 1996 and has contributed to many of their most successful albums and singles. Berryman is known for his melodic and inventive bass lines and is also an accomplished pianist and guitarist. In addition to his work with Coldplay, Berryman has collaborated with other artists and is involved in various philanthropic and environmental initiatives.</p>
				<p class="mb-3">Plays: Bass Guitar</p>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 mb-4">
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/ColdplayBBC0712214453_%28cropped%29.jpg/270px-ColdplayBBC0712214453_%28cropped%29.jpg" alt="Will Champion PIC" class="img-fluid rounded-circle">
				<h4>Will Champion</h4>
				<p>Will Champion is a British musician and the drummer for the band Coldplay. Born in 1978 in Southampton, England, Champion joined the band as a drummer in 1997, shortly after its formation. In addition to playing drums, Champion is also a multi-instrumentalist, playing guitar, bass, and piano on various Coldplay recordings. He has contributed to many of the band's most successful albums and singles, including "Clocks," "Viva La Vida," and "Paradise." Champion is known for his dynamic and versatile drumming style, which incorporates elements of rock, pop, and electronic music. In addition to his work with Coldplay, Champion has collaborated with other artists and has been involved in various philanthropic initiatives.</p>
				<p class="mb-3">Plays: Drums</p>
				</div>
				</div>
				</main>
				<footer>
				<p>© 2023 Coldplay. All rights reserved.</p>
				</footer>
				<!-- Bootstrap -->


				</body>
				</html>

				{% endblock %}
