{% extends 'base.html' %}

{% load static %}

{% block content %}

<main>
	<h2>Contact Us</h2>
	<p>For booking inquiries or any other questions, please contact us:</p>
	<p>Email: <a href="mailto:contact@bandname.com">contact@Coldplay.com</a></p>
	
		<h3>Follow Us on Social Media</h3>
		<div class="social-media">
			<a href="https://www.facebook.com/bandname"><img src="https://www.facebook.com/images/fb_icon_325x325.png" alt="Facebook"></a>
			<a href="https://www.instagram.com/bandname"><img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg" alt="Instagram"></a>
			<a href="https://www.youtube.com/channel/bandname"><img src="https://img.freepik.com/premium-vector/red-youtube-logo-social-media-logo_197792-1803.jpg?w=2000" alt="YouTube"></a>
			<a href="https://open.spotify.com/artist/bandname"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Spotify_icon.svg/991px-Spotify_icon.svg.png" alt="Spotify"></a>
			<a href="https://music.apple.com/artist/bandname"><img src="https://images.macrumors.com/t/RsRxUqFqB0mh-vSOEnl0I22oIhg=/1200x1200/smart/article-new/2020/12/apple-music-logo.jpg" alt="Apple Music"></a>
			<a href="https://www.deezer.com/artist/bandname"><img src="https://w7.pngwing.com/pngs/958/783/png-transparent-deezer-app-logo-tech-companies-thumbnail.png" alt="Deezer"></a>
			<a href="https://music.youtube.com/channel/bandname"><img src="https://logowik.com/content/uploads/images/youtube-music7134.jpg" alt="YouTube Music"></a>
		</div>
</main>

<footer>
	<p>&copy; 2023 Coldplay. All rights reserved.</p>
</footer>

{% endblock %}
