{% extends 'base.html' %}

{% load static %}

{% block content %}
	<main>
		<h2>Discography</h2>
		<h3>Studio Albums</h3>
		<div class="album">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/f/fd/Coldplay_-_Parachutes.png/220px-Coldplay_-_Parachutes.png" alt="Album 1">
			<h4>Parachutes</h4>
			<p>Released: 10 Juky 2000</p>
			<p>Number of Songs: 10</p>
		</div>
		<div class="album">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/60/Coldplay_-_A_Rush_of_Blood_to_the_Head_Cover.png/220px-Coldplay_-_A_Rush_of_Blood_to_the_Head_Cover.png" alt="Album 2">
			<h4>A Rush Of Blood To The Head</h4>
			<p>Released: 26 August 2002</p>
			<p>Number of Songs: 11</p>
		</div>
		<div class="album">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/28/Coldplay_X%26Y.svg/220px-Coldplay_X%26Y.svg.png" alt="Album 3">
			<h4>X&Y</h4>
			<p>Released: 6 June 2005</p>
			<p>Number of Songs: 13</p>
		</div>
		<div class="album">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b2/Coldplay_-_Viva_la_Vida_or_Death_and_All_His_Friends.png/220px-Coldplay_-_Viva_la_Vida_or_Death_and_All_His_Friends.png" alt="Album 4">
			<h4>Viva La Vida Or Death and All His friends</h4>
			<p>Released: 12 June 2008</p>
			<p>Number of Songs: 10</p>
		</div>
		<div class="album">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/83/Coldplay_-_Mylo_Xyloto_%28Official_Album_Cover%29.png/220px-Coldplay_-_Mylo_Xyloto_%28Official_Album_Cover%29.png" alt="Album 5">
			<h4>Mylo Xyloto</h4>
			<p>Released: 24 October 2011</p>
			<p>Number of Songs: 14</p>
		</div>
		<div class="album">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8a/Coldplay_-_Ghost_Stories.png/220px-Coldplay_-_Ghost_Stories.png" alt="Album 6">
			<h4>Ghost Stories</h4>
			<p>Released: 19 May 2014</p>
			<p>Number of Songs: 9</p>
		</div>
		<div class="album">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3d/Coldplay_-_A_Head_Full_of_Dreams.png/220px-Coldplay_-_A_Head_Full_of_Dreams.png" alt="Album 7">
			<h4>A Head Full Of Dreams</h4>
			<p>Released: 4 December 2015</p>
			<p>Number of Songs: 11</p>
		</div>
		<div class="album">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8e/Coldplay_-_Everyday_Life.png/220px-Coldplay_-_Everyday_Life.png" alt="Album 8">
			<h4>Everyday Life</h4>
			<p>Released: 22 November 2019</p>
			<p>Number of Songs: 16</p>
		</div>
		<div class="album">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/bf/Coldplay_-_Music_of_the_Spheres_%28Official_Album_Artwork%29.png/220px-Coldplay_-_Music_of_the_Spheres_%28Official_Album_Artwork%29.png" alt="Album 9">
			<h4>Music Of The Spheres</h4>
			<p>Released: 15 October 2021</p>
			<p>Number of Songs: 12</p>
		</div>

		<h3>Singles</h3>
		<div class="single">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9b/Yellow_cover_art.JPG/220px-Yellow_cover_art.JPG" alt="Single 1">
			<h4>Yellow</h4>
			<p>Released: 2000</p>
		</div>
		<div class="single">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e2/Trouble_cover_art.jpg/220px-Trouble_cover_art.jpg" alt="Single 2">
			<h4>Trouble</h4>
			<p>Released: 2000</p>
		</div>
		<div class="single">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/21/DontPanic1.jpg/220px-DontPanic1.jpg" alt="Single 3">
			<h4>Don't Panic</h4>
			<p>Released: 2001</p>
		</div>
		<div class="single">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a8/In_My_Place.jpg/220px-In_My_Place.jpg" alt="Single 4">
			<h4>In My Place</h4>
			<p>Released: 2002</p>
		</div>
		<div class="single">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c2/Coldplay_-_The_Scientist.png/220px-Coldplay_-_The_Scientist.png" alt="Single 5">
			<h4>Thr Scientist</h4>
			<p>Released: 2002</p>
		</div>
		<div class="single">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/96/Clocks_single.jpg/220px-Clocks_single.jpg" alt="Single 6">
			<h4>Clocks</h4>
			<p>Released: 2003</p>
		</div>
		<div class="single">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e6/Coldplay_-_Speed_Of_Sound_%28Single%29.jpg/220px-Coldplay_-_Speed_Of_Sound_%28Single%29.jpg" alt="Single 1">
			<h4>Speed Of Sound</h4>
			<p>Released: 2005/p>
		</div>
		<div class="single">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b1/Coldplay_-_Fix_You.jpg/220px-Coldplay_-_Fix_You.jpg" alt="Single 2">
			<h4>Fix You</h4>
			<p>Released: 2005</p>
		</div>
		<div class="single">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/18/ColdplayTheHardestPart.jpg/220px-ColdplayTheHardestPart.jpg" alt="Single 3">
			<h4>The Hardest Part</h4>
			<p>Released: 2006</p>
		</div>
		<div class="single">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/84/Coldplay_-_Viva_la_Vida.jpg/220px-Coldplay_-_Viva_la_Vida.jpg" alt="Single 4">
			<h4>Viva La Vida</h4>
			<p>Released: 2008</p>
		</div>
		<div class="single">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c9/Life_in_Technicolor_II.jpg/220px-Life_in_Technicolor_II.jpg" alt="Single 5">
			<h4>Life In Technicolor II </h4>
			<p>Released: 2009</p>
		</div>
		<div class="single">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/22/Coldplay_-_Paradise.JPG/220px-Coldplay_-_Paradise.JPG" alt="Single 6">
			<h4>Paradise</h4>
			<p>Released: 2011</p>
		</div>
		<div class="single">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/cb/Coldplay_Charlie_Brown.jpeg/220px-Coldplay_Charlie_Brown.jpeg" alt="Single 6">
			<h4>Charlie Brown</h4>
			<p>Released: 2012</p>
		</div>
		<div class="single">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8d/Coldplay_-_A_Sky_Full_of_Stars_%28Single%29.png/220px-Coldplay_-_A_Sky_Full_of_Stars_%28Single%29.png" alt="Single 6">
			<h4>A Sky Full Of Stars</h4>
			<p>Released: 2014</p>
		</div>
		<div class="single">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e5/Coldplay%2C_Hymn_for_the_Weekend%2C_Artwork.jpg/220px-Coldplay%2C_Hymn_for_the_Weekend%2C_Artwork.jpg" alt="Single 6">
			<h4>Hymn for the Weekend</h4>
			<p>Released: 2016</p>
		</div>
		<div class="single">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/54/Coldplay_-_Higher_Power.png/220px-Coldplay_-_Higher_Power.png" alt="Single 6">
			<h4>Higher Power</h4>
			<p>Released: 2021</p>
		</div>
	</main>

	<footer>
		<p>&copy; 2023 Coldplay. All rights reserved.</p>
	</footer>

</body>
<html>

{% endblock %}
